$accent-color: rgb(218, 88, 2);
$header-color: rgba(0, 0, 0, 0.87);
$font-color: rgba(0, 0, 0, 0.75);
$background-color: white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
  color: $font-color;
  background-color: $background-color;
}

h1,
h2,
h3,
h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  color: $header-color;
}

a {
  color: $accent-color;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}
p code {
  background-color: #eee;
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px $accent-color;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}
.tags li {
  display: inline;
  margin-right: 0.5em;
}

.items {
  :last-child {
    margin-bottom: 0 !important;
  }
  :first-child {
    margin-top: 0 !important;
  }
  margin: 1.5em 0;

  .item {
    font-size: 1em;
    display: flex;
    margin: 1em 0;
    width: 100%;
    min-height: 0;
    background: 0 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    .content {
      align-self: center;
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      background: 0 0;
      margin: 0;
      margin-left: 0px;
      padding: 0;
      padding-left: 0px;
      box-shadow: none;
      font-size: 1em;
      border: none;
      border-radius: 0;

      .header {
        display: inline-block;
        margin: -0.21425em 0 0;
        font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.2em;
        color: $header-color;
      }
    }

    a {
      cursor: pointer;
    }
    .meta {
      margin: 0.5em 0;
      font-size: 1em;
      line-height: 1em;
      color: rgba(0, 0, 0, 0.6);
    }

    .description {
      margin-top: 0.6em;
      max-width: auto;
      font-size: 1em;
      line-height: 1.4285em;
      color: rgba(0, 0, 0, 0.87);
    }

    .extra {
      display: block;
      position: relative;
      background: 0 0;
      margin: 0.5rem 0 0;
      width: 100%;
      padding: 0;
      top: 0;
      left: 0;
      color: rgba(0, 0, 0, 0.4);
      box-shadow: none;
      -webkit-transition: color 0.1s ease;
      transition: color 0.1s ease;
      border-top: none;

      .tag:after {
        content: ", ";
      }
      .tag:last-child:after {
        content: "";
      }
      .tags {
        display: inline;
        list-style: none;
        li {
          margin-right: 2px;
        }
      }
    }

    .image + .content {
      min-width: 0;
      width: auto;
      display: block;
      margin-left: 0;
      -webkit-align-self: top;
      -ms-flex-item-align: top;
      align-self: top;
      padding-left: 1.5em;
    }

    .image {
      width: 175px;
      position: relative;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      max-height: "";
      -webkit-align-self: top;
      -ms-flex-item-align: top;
      align-self: top;
      font-size: 1em;

      img {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 0.125rem;
        border: none;
      }
    }
    :first-child {
      margin-top: 0;
    }
  }
}

* {
  :before,
  ::after {
    box-sizing: inherit;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
    max-width: 42em;
  }
  .items .item .image {
    width: 240px;
    height: 180px;
  }
  .items .item .image img {
    width: 240px;
    height: 180px;
  }
}


@media (min-width: 1600px) {
  html {
    font-size: 125%;    
    max-width: (42em * 1.5);
  }
  .items .item .image {
    width: (240px *1.5);
    height: (180px *1.5);
    
    
  }
  .items .item .image img {
    width: (240px *1.5);
        height: (180px *1.5);
  }
}

@media (max-width: 767px) {
  .ui.items > .item > .image,
  .ui.items > .item > .image > img {
    max-width: 100% !important;
    width: auto !important;
    max-height: 250px !important;
  }

  .ui.items > .item > .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .items > .item > .image > img {
    max-width: 100% !important;
    width: auto !important;
    max-height: 250px !important;
  }

  .ui.items > .item > .image + .content {
    display: block;
    padding: 1.5em 0 0;
    width: 100%;
  }

  .ui.items > .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2em 0;
    margin-top: 2em;
  }
}
