{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<p>{{ section.content | safe }}</p>


{% for year, posts in section.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>

    <div class="ui items">
    {% for post in posts %}
        
    <div class="item">
            <div class="image">
                {% if post.extra.image %}
                <img  class="postimage" src="{{resize_image(path=post.extra.image, width=480, height=360, op="fill") }}" style="cursor: pointer;" onclick="window.location='{{ post.permalink }}';"></img>
                {% endif %}
            </div>            
            <div class="content">
                <a class="header" href="{{ post.permalink }}">{{ post.title }}</a>
                <div class="meta">
                    {% if post.extra.meta %}
                    {% endif %}
                </div>
                <div class="description">
                    {% if post.extra.description %}
                    {{post.extra.description}}
                    {% endif %}
                </div>
                <div class="extra">
                    <ul class="tags">
                    {% for tag in post.taxonomies.tags %} 
                        <li class="tag">{{tag}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
    {% endfor %}
    </div>
{% endfor %}

{% endblock content %}
